<div id="app-intro">
  <h2>Fitness Adventure</h2>
  <p>
    Fitness Adventure is a web game that integrates with the Fitbit API to give users a simple real-life gaming experience
    that also promotes a healthy lifestyle. As the user performs normal daily activities, the game will
    automatically acquires the user’s daily activity data and translate them into game elements as
    level, exp and gold. Eventually user can use them to complete game quests or battle with other
    players to claim rewards.
  </p>
</div>
<div id="about-me">
  <h2>About Geng Li</h2>
  <p>
    <%= image_tag "about/GengLi.jpg", id: "about-me-img", size: "128" %>
    I am a full stack developer with strong educational background in engineering and experience on both
    development side and operational side of IT industry. My passion in programming drives me to produce
    efficient results in both team-based and self-managed projects.
  </p>
</div>
<div id="contact-info">
  <h3>Email</h3>
  <p>lg901127@gmail.com</p>
  <h3>LinkedIn</h3>
  <p>ca.Linkedin.com/in/gengli1127</p>
  <h3>Github</h3>
  <p>github.com/lg901127</p>
</div>
