/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

.segment {
  margin: 15px;
  clear: both;
}

body {
  background: url("backgrounds/background.jpg");
  background-repeat: repeat;
}

body p {
  font-size: 20px;
}

.container {
  color: lightgrey;
  font-family: 'Nunito', sans-serif;
}

#login {
  background: url("backgrounds/login_bg.jpg");
  background-repeat: repeat;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(74,65,74,1);
  -moz-box-shadow: 0px 0px 30px 0px rgba(74,65,74,1);
  box-shadow: 0px 0px 30px 0px rgba(74,65,74,1);
}

.col-border {
  border-right: darkslategrey solid 3px;
}

#project-name {
  margin-top: 150px;
  margin-bottom: 50px;
  color: #dc381f;
  font-family: 'Anton', sans-serif;
  font-size: 80px;
  word-spacing: 50px;
}
#background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    opacity: 0.5;
}
.achieved {
  color: gold;
}
.unachieved {
  color: grey;
}
.index-button {
  font-family: 'Oxygen', sans-serif;
  color: lightgrey;
  font-size: 30px;
  border: 5px;
  border-radius: 50px;
  background-color: inherit;
}
.item-title {
  font-size: 20px;
  color: lightgrey;
}

.profile-img {
  border-radius: 50%;
}

#notice {
  color: gold;
}

@keyframes hide {
  0% {
    opacity:1;
    transform: scale(1);
  }
  30% {
    transform: scale(1.02);
  }
  100% {
    opacity:0;
    transform: scale(0.5);
  }
}

@-webkit-keyframes hide {
  0% {
    opacity:1;
    transform: scale(1);
  }
  30% {
    transform: scale(1.02);
  }
  100% {
    opacity:0;
    transform: scale(0.5);
  }
}

.ng-hide-add {
  -webkit-animation:0.5s hide;
  animation:0.5s hide;
}

.ng-hide-remove {
  -webkit-animation:0.3s show;
  animation:0.3s show;
}

.login-page{
  padding-left: 200px;
  padding-right: 200px;
}

@keyframes show {
  0% {
    opacity:0;
    transform: scale(0.5);
  }
  70% {
    transform: scale(1.02);
  }
  100% {
    opacity:1;
    transform: scale(1);
  }
}

@-webkit-keyframes show {
  0% {
    opacity:0;
    transform: scale(0.5);
  }
  70% {
    transform: scale(1.02);
  }
  100% {
    opacity:1;
    transform: scale(1);
  }
}

#app-intro:hover {
  background-color: white;
  color: black;
  -webkit-transition: background 1s linear;
  -moz-transition: background 1s linear;
  -ms-transition: background 1s linear;
  -o-transition: background 1s linear;
  transition: background 1s linear;
}
#about-me-img {
  border-radius: 50%;
}
#about-me:hover {
  background-color: white;
  color: black;
  -webkit-transition: background 1s linear;
  -moz-transition: background 1s linear;
  -ms-transition: background 1s linear;
  -o-transition: background 1s linear;
  transition: background 1s linear;
}
#contact-info:hover {
  background-color: white;
  color: black;
  -webkit-transition: background 1s linear;
  -moz-transition: background 1s linear;
  -ms-transition: background 1s linear;
  -o-transition: background 1s linear;
  transition: background 1s linear;
}
