<div ng-hide="chartHideStatus">
  <%= high_chart("my_id4", @chart) do |c| %>
    <%= raw "options.tooltip.formatter = function() {return '<b>'+ this.point.name +'</b>: '+ this.y +' mins';}"  %>
    <%= raw "options.plotOptions.pie.dataLabels.formatter = function() { if (this.y > 5) return this.point.name; }"  %>
  <% end %>
</div>
<div ng-show="chartHideStatus">
