<div ng-controller="itemController" ng-hide="inventoryHideStatus">
  <ul ng-repeat="item in items" class="media-list">
    <li class="media">
      <a class="media-left">
        <img class="media-object" src="https://cdn.steamstatic.com/apps/dota2/images/items/ultimate_scepter_lg.png" alt="Generic placeholder image">
      </a>
      <div class="media-body">
        <h4 class="media-heading" ng-click="itemDetail = !itemDetail">{{ item.name }}</h4>
        <div ng-show="itemDetail">
          <p>{{ item.description }}</p>
          <p>{{ item.Strength ? "Strength: " + item.Strength : "" }} {{ item.Constitution ? "Constitution: " + item.Constitution : "" }}</p>
        </div>
      </div>
    </li>
  </ul>
</div>
<div ng-show="inventoryHideStatus">
