<div ng-hide="inventoryHideStatus">
  <ul ng-repeat="item in items" class="media-list">
    <li class="media">
      <a class="media-left">
         <img src="{{item.url}}">
      </a>
      <div class="media-body">
        <h4 class="media-heading" ng-click="itemDetail = !itemDetail">{{ item.name }}</h4>
        <button ng-click="sell(item.id)" class="pull-right btn btn-menu">Sell</button>
        <div ng-show="itemDetail">
          <p>{{ item.description }}</p>
          <p>{{ item.Strength ? "Strength: " + item.Strength : "" }} {{ item.Constitution ? "Constitution: " + item.Constitution : "" }}</p>
        </div>
      </div>
    </li>
  </ul>
</div>
<div ng-show="inventoryHideStatus">
